// Your global color variables
$blue-purple: #4A44F2;
$purple: #7D79F2;
$blue-green: #04D9C4;
$green: #05F2AF;
$yellow: #F2CA50;
$red: #ff4136;
$dark-blue: #283959;
$light-blue: #8EA3BF;
$light-purple: #69688C;
$light-yellow: #F2BC8D;
$light-red: #F29F8D;
$light-green: #0da091;
$black: #000;
$pale-grey: #efefef;