// Your global color variables
$blue-purple: #4A44F2;
$purple: #7673d1;
$blue-green: #12a495;
$green: #05F2AF;
$yellow: #ddb94b;
$red: #ff4136;
$dark-blue: #283959;
$light-blue: #8EA3BF;
$light-purple: #69688C;
$light-yellow: #F2BC8D;
$light-red: #F29F8D;
$light-green: #70c5bd;
$black-pink:#844c7d;
$black: #000;
$pale-grey: #efefef;