@import './styles/_colors.scss';
@import './styles/_themes.scss';
@import './styles/toggle.scss';
@import './styles/button.scss';
@import './styles/modal.scss';

.App {
  text-align: left;
  padding-bottom: 100px;
  @include themed() {
    color: themedStyle('primary-color');
    background: themedStyle('interactive-background');
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
}

.top-navigation {
  display: flex;
  justify-content: space-between;
  padding:20px 30px;
}

.top-navigation2{
  display: flex;
  padding: 0px 30px;
}

.table {
  font-size: 20px;
  display: flex;
  justify-content: center;
  .add-control {
    @include themed() {
      background: themedStyle('positive-background')
    }
  }
  .delete-control {
    @include themed() {
      background: themedStyle('warning-background')
    }
  }
}

.table .Spreadsheet__cell {
  @include themed() {
    color: themedStyle('primary-color');
    background: themedStyle('general-background')
  }
}

.table .table-control {
  display: grid;
  height: min-content;
  padding: 10px;
}

.header-row {
  font-weight: bold;
}

.Theme-toggle {
  text-align: right;
  padding:20px 30px;
  font-size: calc(10px + 2vmin);
}

.Theme-popover .popup-overlay {
  @include themed() {
    color: themedStyle('primary-color');
    background: themedStyle('general-background');
}
}


label span {
  margin:15px;
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.icon-logo {
  height: 2.5vmin;
  padding: 0 3px;
}

.cookie-logo {
  height: 5vmin;
  padding: 0 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

p {
  margin: 10px 100px;

}

.App-select {
  margin-top: 20px;
  padding: 5px;
}

.App-link {
  @include themed() {
    color: themedStyle('accent-color');
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}